
/*Sidenav bar property*/

.sidenav{
    height : 100%;
    position : fixed;
    /* background-color : #48709d; */
    /* background: linear-gradient(90deg, rgb(51 48 115) 0%, rgb(68 68 152) 35%, rgb(52 128 142) 100%); */
    // background: url('../assets/verticalMenu.svg') no-repeat; 
    background: url('../../../../assets/verticalMenu.svg') no-repeat;
    padding : 2rem;
    left: 0;
  }
  
  .sidenav .menuIcon{
    padding : 0.5rem;
    margin : 0.5rem;
  }
  
  .sidenav-centered {
    float: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .menuIcon:hover {
    border : 1px solid white;
  }
  .menuIcon a{
    opacity: .5;
  }
  .menuIcon.active a{
    opacity: 1;
  }
  .menuIcon.active{
    border: 1px solid #fff;
  }